/* Main Site Navigation */

.nav {
	width: 1170px;
	margin:0 auto;
	padding: 60px;
}

.nav li {
	font-family: 'ProximaNova-Regular', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #242424;
	display:inline;
	text-transform: none;
	padding-right: 30px;
}

.nav li a {
	text-decoration: none;
	color: #242424;
}

.nav li a:hover {
	text-decoration: underline;
}


/* Hero area */

#container {
	background-color: #F8F7ED;
	background-size: cover;
	height: auto;
	width:100%;
}

#hero {
	width: 1170px;
	margin:0 auto;
	padding: 40px 0 100px 0;
}

.hero-copy {
	float:left;
}

#hero aside{
    display: block;
    background: url(img/unyq-hero.png);
    width: 30%;
    float: right;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#hero h1 {
	font-family: 'ProximaNova-Regular', sans-serif;
	font-weight: 600;
	font-size: 10em;
	color: #242424;
	letter-spacing: -2px;
	line-height: 154px;
	padding-bottom: 40px;
}
#hero p {
	font-family: 'ProximaNova-Regular', sans-serif;
	font-weight: 400;
	font-size: 2em;
	line-height: 42px;
	color: #242424;
	width: 670px;
	padding-bottom: 20px;
}

/* Startups.co About Section*/

#sco-about {
	height:1000px;
	background-color:#242424;
}

#sco-about h1 {
	/* The Startups.co Plat: */
	font-family: ProximaNova-Regular;
	font-size: 32px;
	color: #ffffff;
	text-align:center;
	padding-top:70px;
}